{% extends 'base.html' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ blog.title }}</h1>
            <p>{{ blog.content }}</p>
            <hr>
            <p><b>Author:</b> {{ blog.author }}</p>
            <p><b>Created At:</b> {{ blog.created_at }}</p>
            <p><b>Updated At:</b> {{ blog.updated_at }}</p>
            <a href="{% url 'blog_update' blog.id %}" class="btn btn-warning">Edit</a>
            <a href="{% url 'blog_delete' blog.id %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>
{% endblock %}